<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <input type="text" v-model="otroDeporte" @keyup.enter="agregarDeporte">
        <button @click="agregarDeporte">Agregar a la lista</button>
        <ul>
            
            <li v-for="deporte of deportes">
                <button @click="deporte.cantidad++">+</button>
                <input type="text" v-model.number="deporte.cantidad">
                {{deporte.nombre}}
            </li>
            <h4>Sumar Cantidad de Deportes: {{sumarCantidadDeportes}}</h1>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="/01/01.js"></script>
</body>
</html>